.h-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}
.h-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    gap: 30px;
}